trunk/Project/Website/PrOJ-Contest/PrOJ-Contest/Service References/AccountService/Account.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Account" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65156/Account.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65156/Account.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65156/Account.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccount_NumberContest_InputMessage">
    <wsdl:part name="parameters" element="tns:NumberContest" />
  </wsdl:message>
  <wsdl:message name="IAccount_NumberContest_OutputMessage">
    <wsdl:part name="parameters" element="tns:NumberContestResponse" />
  </wsdl:message>
  <wsdl:message name="IAccount_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAccount_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAccount_NumberProblem_InputMessage">
    <wsdl:part name="parameters" element="tns:NumberProblem" />
  </wsdl:message>
  <wsdl:message name="IAccount_NumberProblem_OutputMessage">
    <wsdl:part name="parameters" element="tns:NumberProblemResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccount">
    <wsdl:operation name="NumberContest">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccount/NumberContest" message="tns:IAccount_NumberContest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccount/NumberContestResponse" message="tns:IAccount_NumberContest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccount/Login" message="tns:IAccount_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccount/LoginResponse" message="tns:IAccount_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NumberProblem">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccount/NumberProblem" message="tns:IAccount_NumberProblem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccount/NumberProblemResponse" message="tns:IAccount_NumberProblem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccount" type="tns:IAccount">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NumberContest">
      <soap:operation soapAction="http://tempuri.org/IAccount/NumberContest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAccount/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NumberProblem">
      <soap:operation soapAction="http://tempuri.org/IAccount/NumberProblem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Account">
    <wsdl:port name="BasicHttpBinding_IAccount" binding="tns:BasicHttpBinding_IAccount">
      <soap:address location="http://localhost:65156/Account.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>